#calculatorBody {
    width: 450px;
    border: 1px solid #333;
    padding: 20px;
    @include marginX(auto);
    border-radius: 15px;
    box-shadow: 5px 5px 15px $shadow;
    background: $calcBackground;

    .calcRow {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        position: relative;
        justify-content: space-around;

        .btn-calc {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background: blue;
            color: #333;
            @include marginX(5px);
            align-items: center;
            font-size: 2.0rem;
            box-shadow: 3px 3px 15px $shadow;

            &:active {
                @include boxShadow(0px, 0px, 20px, $buttonPress);
            }

            &.btn-wordy {
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            &.numberKey {
                background: $numberKey;
            }

            &.operatorKey {
                background: $operatorKey;
            }

            &.functionKey {
                background: $functionKey;
            }

            &:hover {
                text-decoration: none;
            }
        }

        a {
            &:first-child {
                order: 1;
                margin-left: 0px;
            }

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 3;
            }

            &:last-child {
                order: 4;
                margin-right: 0px;
            }
        }

        &.calcHeader {
            .outputDisplay {
                background: $display;
                padding: 5px 15px 0px;
                text-align: right;
                text-transform: uppercase;
                width: 100%;
                order: 1;
                font-family: 'LCD', sans-serif;
                border: 1px solid $displayBorder;

                h3 {
                    margin: 0;
                    font-size: 3.5rem;
                }
            }
        }
    }
}
