//MAIN CONTENT

h1 {
    margin-bottom: 30px;
}

//BUTTONS
.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    a.btn {
        &:first-of-type {
            margin-right: 2px;
        }

        &:last-of-type {
            margin-left: 2px;
        }
    }
    .btn-github {
        background: $github;
        border-color: $githubBorder;
        color: $whiteText;

        &:hover,
        &:focus,
        &:active {
            background: $gitHubHover;
            border-color: $gitHubHoverBorder;
            color: $whiteText;
        }
    }
}
