//PALETTE
$shadow:            #999999;
$buttonPress:       #eeeeee;

//TEXT
$darkText:  #333333;
$whiteText: #ffffff;

//BUTTON COLOURS
//$numberKey:         #fde9eb;
$numberKey:         #E3D2D3;
$numberShade:       black;

$github:            #333333;
$githubBorder:      #222222;
$gitHubHover:       #222222;
$gitHubHoverBorder: #111111;

$operatorKey:       #69AACA;
$operatorShade:     black;

$functionKey:       #7FB08A;
$functionShade:     black;

//CALCULATOR COLOURS
$calcBackground:    #d8eaee;
$display:           #cccccc;
$displayBorder:     #999999;
