//PALETTE
$shadow:            #999999;
$buttonPress:       #eeeeee;

//TEXT
$darkText:          #333333;
$whiteText:         #ffffff;

//BUTTON COLOURS
//$numberKey:         #FDE9EB;
$numberKey:         #eee2d8;
$numberShade:       #d4cac1;

$operatorKey:       #69aaca;
$operatorShade:     #5c95b0;

$functionKey:       #7fb08a;
$functionShade:     #6d9676;

$github:            #333333;
$githubBorder:      #222222;
$gitHubHover:       #222222;
$gitHubHoverBorder: #111111;

//CALCULATOR COLOURS
$calcBackground:    #d8eaee;
$display:           #cccccc;
$displayBorder:     #999999;
